<h1>About Me!</h1>
<h2>By Alexis Orellano</h2>
<p>My intresets include</p>
 <ul>
   <li>Favorite Animal: Panda</li>
   <li>Hogwarts house: Hufflepuff</li>
   <li>Best astrology sign: Libra</li>
 </ul>
 <%= image_tag "panda.png", height: 300%>

<p><%= link_to 'Review', review_path %></p>
