<h1>Practice Question</h1>
<p>Which of the following is the Single Responsibility Principle?</p>

<ul>
    <% answers.each do |a| %>
        <li><%= a %></li>
    <% end %>
</ul>

<p><%= link_to 'Question', question_path %></p>